<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GradeChain</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ assetsUrl('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ assetsUrl('bower_components/font-awesome/css/font-awesome.min.css') }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ assetsUrl('bower_components/Ionicons/css/ionicons.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ assetsUrl('dist/css/AdminLTE.min.css') }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body onload="window.print();">
<div class="wrapper">
  <!-- Main content -->
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <img src="{{ assetsUrl('/dist/img/logo-fiusac.png') }}" class="img-responsive pad" alt="Photo" width="40%" height="40%">
          
        <h2 class="page-header">         
          <center>Constancia de cierre de cursos</center>          
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-3 invoice-col">
        <center>
          <img src="{{ assetsUrl('/img/perfil.png') }}" class="img-responsive pad" alt="Foto">
        </center>
      </div>
      <!-- /.col -->
      <div class="col-sm-3 invoice-col">
        <div class="form-group">
          <label for="studentId">Carnet del Estudiante</label>
          <input style="border:none;" id="studentId" name="studentId" type="text" class="form-control" placeholder="Carnet del Estudiante"
            value="{{ student.studentId }}" disabled>
        </div>
        <div class="form-group">
          <label for="firstName">Nombres del estudiante</label>
          <input style="border:none;" id="firstName" name="firstName" type="text" class="form-control" placeholder="Nombres del estudiante"
            value="{{ student.firstName }}" disabled>
        </div>
        <div class="form-group">
          <label for="lastName">Apellidos del estudiante</label>
          <input style="border:none;" id="lastName" name="lastName" type="text" class="form-control" placeholder="Apellidos del estudiante"
            value="{{ student.lastName }}" disabled>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-3 invoice-col">        
        <div class="form-group">
          <label for="career">Carrera</label>
          <input style="border:none;" id="career" name="career" type="text" class="form-control" placeholder="Carrera"
            value="{{ student.career }}" disabled>
        </div>
        <div class="form-group">
          <label for="birthDate">Nacimiento del estudiante</label>
          <input style="border:none;" id="birthDate" name="birthDate" type="text" class="form-control" value="{{ student.birthDate }}"
            disabled>
        </div>  
      </div>
      <!-- /.col -->
      
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Bloque de Transaccion</th>
                <th>Codigo de Curso</th>
                <th>Nombre de Curso</th>                
                <th>Nota</th>
          </tr>
          </thead>
          <tbody>
            @each(grade in student.grades)
            <tr>
              <td>{{grade.blockNumber}}</td>
              <td>{{grade.courseId}}</td>
              <td>{{grade.courseName}}</td>
              <td>{{grade.grade}}</td>
            </tr>
            @else
            <td colspan="4">
              <center>No hay registros</center>
            </td>
            @endeach
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- accepted payments column -->
      <div class="col-xs-12">

        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          Esta es una constancia de cierre firmada con blockchain con el codigo de transaccion 
        <a href="https://ropsten.etherscan.io/address/0x20a685a5cdade5caf81f9fdfeaeb0d3038a0e555" target="_blank">Firma Digital</a>  
        </p>
      </div>
      
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- ./wrapper -->
</body>
</html>
